In [9]:
employee_data ={
    101: "Rizny",
    102: "Akeel",
    103: "Dinesh"
}
print(f"Initial Employee Data:{employee_data}")

Initial Employee Data:{101: 'Rizny', 102: 'Akeel', 103: 'Dinesh'}

In [4]:
employee_name = employee_data[102]
print(f"The Name For Employee ID 102 is :{employee_name}")

The Name For Employee ID 102 is :Akeel

In [10]:
employee_name = employee_data[101]
print(f"The Name For Employee ID 101 is :{employee_name}")

The Name For Employee ID 101 is :Rizny